<h3>
   <!-- START Language list-->
   <div class="pull-right"></div>
   <!-- -->
   <div dropdown="" is-open="language.listIsOpen" class="btn-group">
      <!--  button.btn.btn-default(type='button', dropdown-toggle="")-->
      <!--   | {{language.selected}}-->
      <!--  span.caret-->
   </div>
   <!-- ul.dropdown-menu.dropdown-menu-right.animated.fadeInUpShort(role='menu')// li(ng-repeat='(localeId, langName) in language.available')
// a(ng-click='language.set(localeId, $event)', href='#') {{langName}}-->
   <!-- END Language list    -->
   Input Kandidat
   <!-- END messages and activity-->
   <!-- END dashboard sidebar-->
</h3>
<div class="row">
   <div class="panel panel-info">
      <div class="panel-heading">Masukkan Data Kandidat</div>
      <div class="panel-body">
         <form action="" method="">
            <table class="table-condensed" width="85%" align="center">
               <tr>
                  <td>NIM</td>
                  <td>
                     <div class="col-md-7">
                     <input type="text" placeholder="NIM" class="form-control"></div></td>
               </tr>
               <tr>
                  <td>Nama</td>
                  <td>
                     <div class="col-md-7">
                     <input type="text" placeholder="Nama" class="form-control"></div></td>
               </tr>
               <tr>
                  <td>Tanggal Lahir</td>
                  <td>
                     <div class="col-md-7">
                     <input type="text" placeholder="DD-MM-YYYY" class="form-control"></div></td>
               </tr>
               <tr>
                  <td>Alamat</td>
                  <td>
                     <div class="col-md-7">
                     <textarea placeholder="Alamat" class="form-control"></textarea></div></td>
               </tr>
               <tr>
                  <td>IPK</td>
                  <td>
                     <div class="col-md-7">
                     <input type="text" placeholder="3.00 - 4.00" class="form-control"></div></td>
               </tr>
               <tr>
                  <td>Kompetensi</td>
                  <td>
                     <div class="col-md-7">
                     <input type="text" placeholder="Skore 0-100" class="form-control"></div></td>
               </tr>
               <tr>
                  <td>Kegiatan Kemahasiswaan</td>
                  <td>
                     <div class="col-md-7">
                     <input type="text" placeholder="Skore 0-100" class="form-control"></div></td>
               </tr>
               <tr>
                  <td>Prestasi</td>
                  <td>
                     <div class="col-md-7">
                     <input type="text" placeholder="Skore 0-100" class="form-control"></div></td>
               </tr>
               <tr><td></td>
                  <td class="text-center">
                     <input type="button" value="SUBMIT" style="color: #00aaaa">
                  </td>
               </tr>
            </table>
         </form>
      </div>
      <div class="panel-footer">

      </div>
   </div>
</div>